*{ 
    margin: 0; 
    padding: 0; 
}
body{
	background: #d1c8f1;
}
.header{
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
table{
    border: 7px solid #0fa6cf;
    background-color: #FFFFFF;
    margin-left: 450px;
    margin-top: 25px;
}
table td{
	text-align: center;
    padding: 10px;
	text-transform: uppercase;
	font-family: 'Arial';
	line-height: 35px;
	font-size: 20px;
    width: 33px;
}
.nomes{
    background-color: #7f0fcf;
}

